a:hover { 
    text-decoration: underline;
}

a {
    text-decoration: underline;
}

.posts_listing li a:hover,#nav a:hover {
  text-decoration: none;
}

hr {
  width: 50%;
  height: 1px;
  background:#738491;
  margin: 5px auto;
}

.headLine {
  width: 100%;
  height: 1px;
  background:#738491;
  margin: 5px auto;
}

.sm {
  margin: 20px 0 10px;
  text-indent: 0;
}

.sm li {
  margin: 0 0 10px 20px;
}

ul {
    text-indent: -0.88em;
    margin-left: 0.88em;
    position: relative;
}

ul li:before {
   vertical-align: text-bottom; 
}

.posts_listing {
    text-indent: 0;
    margin-left: 0;
}

li {
    margin-top: 10px;
}

#content {
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding: 10px 0 10px;
}

.avatar {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    border: 3px solid #333;
}

b {
  display: none;
}

pre{
    background: #f7f7f7;
    border-radius: 10px;
}

h1 {
    line-height: 120%;
}

/* nav stuff */
ul#horizontal-list {
    display:table; 
    margin:0 auto;
    text-indent: 0em;
} 
	
ul#horizontal-list li {
	vertical-align: middle; 
	text-align: center;
}

/* nav links */
/* see https://tympanus.net/codrops/2013/08/06/creative-link-effects/ */
.effect a::before,
.effect a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effect a::before {
	margin-right: 5px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effect a::after {
	margin-left: 5px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}


.effect a:hover::before,
.effect a:hover::after,
.effect a:focus::before,
.effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

